@import 'styles/variables/breakpoints';

.DatasetsFilters {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid var(--color-neutral-dark-100);

  @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
    justify-content: center;
    gap: 0.75rem;
  }

  > .Search {
    width: 100%;

    @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
      width: 15.25rem;
    }
  }
}
