.LogoPreview {
  border: 0.125rem dashed var(--color-neutral-dark-100);
  border-radius: 0.5rem;
  padding: 1.5rem 2rem;
  width: auto;
  align-self: flex-start;
  max-width: 636px;
  width: 100%;

  &.Error {
    border-color: var(--color-accent-danger-1000);
  }

  .Title {
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin-bottom: 0.75rem;
  }
  .Content {
    display: flex;
    align-items: center;
    gap: 1.25rem;
  }
  .ImageWrapper {
    width: 200px;
    height: 116px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.875rem;
    box-shadow: var(--shadow-interface-large);
  }
  .Image {
    max-width: 100%;
    height: auto;
  }
}
