# Database
POSTGRES_HOST=postgis
POSTGRES_PORT=5432
POSTGRES_DB=database
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpass
POSTGRES_SCHEMA=soilhive
# Either define POSTGRES_PASSWORD or POSTGRES_AWS_REGION

# Authorization
## password: superadmin
SUPER_ADMIN_PASSWORD_HASH=$2a$10$OaWUPUR7csoiBYqzp3jq8.s336/WXRvMIWGFluF3BvO/6l/0TYHMq
## password: dataadmin
DATA_ADMIN_PASSWORD_HASH=$2a$10$.oAbT7ZPV75DAhmYTSgW3ucDSFj00wvN/R.bq8.4Y1gL.aQxYAMQ2
SELF_SIGNING_SECRET=put-any-random-string-here

# Storage
## Mode: local, s3
STORAGE_MODE=local
## Storage specific options
### local
LOCAL_STORAGE_ROOT_FOLDER=/tmp/soilhive-storage
### S3
S3_STORAGE_REGION=
S3_STORAGE_BUCKET=
S3_STORAGE_ROOT_FOLDER=
JSON_PAYLOAD_LIMIT=4MB
