@import 'styles/variables/breakpoints';

.soilhive-map {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;

  .map {
    width: 100%;
  }

  .map-style-switcher {
    position: absolute;
    bottom: 163px;
    right: 10px;

    @media (max-width: $bp-tablet-max) {
      bottom: auto;
      bottom: 116px;
      right: 10px;
    }

    @media (max-width: $bp-mobile-max) {
      bottom: auto;
      top: 77px;
      right: 18px;
    }
  }

  .soilhive-map-dai {
    position: absolute;
    bottom: 35px;
    right: 74px;

    @media (max-width: $bp-tablet-max) {
      bottom: 100px;
      right: 10px;
    }

    @media (max-width: $bp-mobile-max) {
      bottom: 114px;
    }
  }

  .soilhive-map-dai-btn {
    position: absolute;
    bottom: 95px;
    right: 10px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-neutral-white);
    border: none;
    border-radius: 0.25rem 0.25rem 0 0;
    cursor: pointer;
    color: var(--color-neutral-dark-900);
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);

    @media (min-width: $bp-tablet) {
      bottom: 70px;
    }
  }

  .maplibregl-ctrl-group button {
    width: 36px;
    height: 36px;
  }

  .maplibregl-ctrl-group:not(:empty) {
    box-shadow: none;
    border-radius: 0 0 0.25rem 0.25rem;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.12);

    @media (min-width: $bp-desktop) {
      border-radius: 0.25rem;
      box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12);
    }

    button + button {
      border-top: none;
    }
  }

  .maplibregl-terradraw-add-control.active {
    background-color: var(--color-pills);
  }

  .maplibregl-ctrl-bottom-right {
    bottom: 5px;
  }

  // To fix double "X" clear icon in geocoder input of type "search"
  .maplibregl-ctrl-geocoder--input {
    &::-ms-clear {
      display: none;
    }

    /* Chrome */
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
  }

  &-toolbar {
    white-space: nowrap;
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border: 1px solid #dddddd;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
    padding: 6px 9px;

    @media (max-width: $bp-mobile-max) {
      width: calc(100% - 36px);
      padding: 4px;
      border: none;
    }

    &.hidden {
      display: none;
    }

    .maplibregl-ctrl-geocoder {
      box-shadow: none;
      display: inline-block;
      width: 298px;
      height: 32px;
      font-size: 15px;

      @media (max-width: $bp-mobile-max) {
        width: 100%;
        max-width: 100%;
      }

      input {
        width: 298px;
        height: 36px;
        padding: 6px 60px 6px 10px;
        border: none;
        border-radius: 20px;
        background-color: var(--color-bg-secondary);
        font-family: Inter;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0px;
        vertical-align: middle;

        @media (max-width: $bp-mobile-max) {
          width: 100%;
          height: 32px;
        }
      }
      .maplibregl-ctrl-geocoder--result-icon {
        height: 16px;
        min-height: unset;
      }
      .maplibregl-ctrl-geocoder--icon-close {
        margin: 0px;
      }
      .maplibregl-ctrl-geocoder--icon.maplibregl-ctrl-geocoder--icon-loading {
        position: static;
      }
      .maplibregl-ctrl-geocoder--button {
        // This is the "Clear search" button
        position: static;
        margin: 0px;
        background-color: transparent;
        &:hover {
          background-color: transparent;
        }
      }
      .maplibregl-ctrl-geocoder--icon {
        top: 8px;
      }
      .maplibregl-ctrl-geocoder--icon-search {
        display: none;
      }
      .maplibregl-ctrl-geocoder--pin-right {
        position: absolute;
        top: 9px;
        right: 8px;
        display: flex;
        gap: 4px;
        align-items: center;

        @media (max-width: $bp-mobile-max) {
          top: 7px;
        }
      }
    }
    & > button {
      margin-left: 9px;
      cursor: pointer;
      font-family: Inter;
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      vertical-align: middle;
      color: var(--color-cta-default-solid);
      background-color: white;
      border: none;
      border: 1px solid #dddddd;
      padding: 6px 44.5px 6px 15.5px;
      border-radius: 24px;
      position: relative;
      svg {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        &.polygon {
          margin-top: -3px;
          margin-right: 2px;
        }
        &.arrow {
          margin-right: 2px;
        }
      }
      .arrow-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        border-left: 1px solid #dddddd;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .search-button-wrapper {
      display: block;
      position: static;
    }
    .search-button {
      cursor: pointer;
      filter: grayscale(100%);
      color: var(--color-cta-default-solid);
      display: flex;
      align-items: center;
      background: none;
      border: none;
      padding: 0px;
      height: 20px;
      z-index: 1;
      &:hover {
        background-color: transparent !important;
      }
      svg {
        width: 18px;
        height: 18px;
      }
    }
    .search-button.searching {
      filter: none;
    }
    @media (max-width: $bp-tablet) {
      & > button {
        padding: 8px;
        background-color: #d2e5ab;
        .text-only,
        .arrow-container {
          display: none;
        }
      }
    }
    .selection-list {
      visibility: hidden;
      &.open {
        visibility: visible;
      }
      position: absolute;
      right: 6px;
      bottom: -72px;
      display: flex;
      flex-direction: column;

      @media (max-width: $bp-mobile-max) {
        bottom: -77px;
        right: 0;
        left: 0;
      }

      button {
        cursor: pointer;
        min-width: 136px;
        min-height: 38px;
        padding: 9px 7px;
        border: none;
        background-color: white;
        font-family: Inter;
        font-weight: 400;
        font-style: Regular;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 0px;
        vertical-align: middle;
        @media (max-width: $bp-mobile-max) {
          text-align: left;
          &:first-child {
            padding-left: 12px;
          }
        }
        &:hover {
          background-color: #eeeff0;
        }
        svg {
          margin-right: 5px;
          width: 16px;
          height: 16px;
          margin-bottom: -4px;
        }
        &:first-child {
          border-top-left-radius: 12px;
          border-top-right-radius: 12px;
          svg {
            margin-left: -5px;
          }
        }
        &:last-child {
          border-bottom-left-radius: 12px;
          border-bottom-right-radius: 12px;
        }
        & + button {
          position: relative;
          &::before {
            position: absolute;
            content: '';
            top: 0;
            left: 5px;
            right: 8px;
            border-top: 1px dashed #bebcc0;
          }
        }
      }
    }
  }

  &-drop-overlay {
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;

    &-content {
      width: 390px;
      max-width: 100%;
      color: var(--color-neutral-dark-400);
      background-color: var(--color-neutral-white);
      border: 0.125rem dashed var(--color-neutral-dark-100);
      border-radius: 0.25rem;
      padding: 0.75rem 1.5rem 1rem;
      text-align: center;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-message {
      color: var(--color-neutral-black);
      font-size: var(--font-size-md);
      margin-top: 0.25rem;
    }
    &-caption {
      font-size: var(--font-size-xs);
      color: var(--color-neutral-dark-600);
    }
  }

  &-selection-toolbar {
    display: flex;
    gap: 8px;
    white-space: nowrap;
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 8px;
    border-radius: 4px;
    box-shadow: 0px 4px 16px 0px #00000014;

    &:not(.drawing) {
      padding: 0;
      border: 2px solid var(--color-brand-yellow-900);
    }

    .reset-button,
    .search-area-button {
      svg {
        color: var(--color-neutral-dark-400);
      }
    }

    .selection-area {
      display: flex;
      align-items: center;
      border: 2px solid #dddddd;
      border-radius: 4px;
      padding: 0 8px;
      min-width: 118px;
      max-width: 250px;
      font-family: Inter;
      font-weight: 400;
      font-style: Regular;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0px;
      background-color: #eeeff0;
    }
  }
}

@keyframes markerBounce {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-14px);
  }
  40% {
    transform: translateY(-6px);
  }
  60% {
    transform: translateY(-10px);
  }
  80% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0);
  }
}

.marker-container {
  position: relative;
  width: 27px;
  height: 46px;
}

.marker-pin,
.marker-shadow {
  position: absolute;
  top: 0;
  left: 0;
}

.marker-pin.marker-bounce {
  animation: markerBounce 0.7s ease-out;
}
