:root {
  /* Sizes */
  --font-size-base: 16px;
  // Measures in pixels have to be recalculated if you change the base size
  // but it's useful to know when translating figma pixels units to rem.
  --font-size-2xs: 0.625rem; // 10px
  --font-size-xs: 0.75rem; // 12px
  --font-size-sm: 0.875rem; // 14px
  --font-size-md: 1rem; // 16px
  --font-size-lg: 1.125rem; // 18px
  --font-size-2lg: 1.25rem; // 20px
  --font-size-xl: 1.5rem; // 24px
  --font-size-2xl: 2rem; // 32px
  --font-size-3xl: 2.5rem; // 48px
  --font-size-4xl: 3.375rem; // 64px

  /* Weights */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-xs: 100%;
  --line-height-sm: 125%;
  --line-height-md: 130%;
  --line-height-lg: 150%;
}
