.ToggleButton {
  position: relative;
  display: inline-block;
  width: 2.75rem;
  height: 1.625rem;

  .ToggleCheckbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .ToggleSlider {
      background-color: var(--color-cta-default-solid);
    }

    &:checked + .ToggleSlider::before {
      transform: translateX(1.125rem);
    }
  }

  .ToggleSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-cta-default-disabled);
    transition: 0.4s;

    border-radius: 3rem;

    &::before {
      position: absolute;
      content: '';
      height: 1.31rem;
      width: 1.31rem;
      left: 2.5px;
      bottom: 2.5px;
      background-color: var(--color-neutral-white);
      transition: 0.8s;
      border-radius: 50%;
    }
  }

  &.Small {
    width: 2.7rem;
    height: 1.47rem;

    .ToggleCheckbox {
      &:checked + .ToggleSlider::before {
        transform: translateX(1.2rem);
      }
    }

    .ToggleSlider {
      &::before {
        height: 1.23rem;
        width: 1.23rem;
        left: 0.13rem;
        bottom: 0.13rem;
      }
    }
  }

  &.Tiny {
    width: 1.75rem;
    height: 0.925rem;

    .ToggleCheckbox {
      &:checked + .ToggleSlider::before {
        transform: translateX(0.8rem);
      }
    }

    .ToggleSlider {
      &::before {
        height: 0.775rem;
        width: 0.775rem;
        left: 0.08rem;
        bottom: 0.07rem;
      }
    }
  }

  .Disabled {
    .ToggleCheckbox + .ToggleSlider {
      background-color: var(--color-neutral-dark-400);
      cursor: not-allowed;
    }
  }
}
