.NameCell {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .NameWarningIcon {
    flex-shrink: 0;
    color: var(--color-accent-danger-1000);
    width: 1rem;
    height: 1rem;
  }

  .NameCellTextBlock {
    display: flex;
    flex-direction: column;
  }
  .NameCellType {
    font-size: var(--font-size-xs);
    font-weight: 400;
    text-transform: capitalize;
  }
}

.UpdatedAtCell {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.DatasetsPublicationTable {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 60px);

  .TableColumn {
    &:nth-child(1) {
      width: 394px;
      max-width: 394px;
      font-weight: var(--font-weight-bold);
    }
    &:nth-child(2) {
      width: 162px;
      min-width: 162px;
    }
    &:nth-child(3) {
      width: 108px;
      min-width: 108px;
    }
    &:nth-child(4) {
      width: 211px;
      min-width: 211px;
    }
    // :global('.p-sortable-column') {
    //   background-color: red;
    // }
    :global(.p-sortable-column-icon) {
      margin-left: 0;
    }
    // &:nth-child(5) {
    //   width: 214px;
    //   min-width: 214px;
    // }
  }
}
