.Layout {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.Content {
  background: var(--color-neutral-white);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: var(--shadow-interface);
}

.Content button {
  align-self: flex-end;
}

.Counter {
  display: block;
  text-align: right;
  font-size: var(--font-size-xs);
  color: var(--color-neutral-dark-400);
  margin-top: 4px;
}

.CounterError {
  color: var(--color-accent-danger-1000);
}