.ColorPicker {
  position: relative;
  display: block;
  width: 2.25rem;
  height: 2.25rem;
  min-width: 2.25rem;
  min-height: 2.25rem;
  border: 1px solid var(--color-neutral-dark-100);
  border-radius: 0.25rem;
  cursor: pointer;
}
.InputField {
  z-index: -1;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}
