.LoaderOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;

  .Loader {
    border-radius: 100%;
    border: 4px solid black;
    border-bottom-color: transparent;
    background: transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: 0.7s ease 0s infinite normal none running loadingAnimationKeyFrame;
  }

  @keyframes loadingAnimationKeyFrame {
    100% {
      transform: rotate(360deg);
    }
  }
}
