* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.menu {
  margin: 0;
  ul {
    margin: 0;
    padding: 0 24px;
    list-style: none;
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 12px;
    }
  }
}

.content {
  flex-grow: 1;
}

.home-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  h1, p {
    padding: 0 24px;
  }
  h1 {
    margin: 0;
  }
}