@import 'styles/variables/breakpoints';

.Availability {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $bp-tablet-max) {
    flex-direction: column-reverse;
  }

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px 15px 35px;
    border-bottom: 1px solid var(--color-neutral-dark-100);

    @media (max-width: $bp-mobile-max) {
      // Otherwise the table header goes over it when scrolling
      // content in landscape mode for small smartphones
      z-index: 3;
    }

    @media (max-width: $bp-tablet-max) {
      padding: 15px 17px 12px 17px;
      box-shadow: inset 0px 4px 16px 0px #00000014;
      position: sticky;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: var(--color-neutral-light);
    }

    @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
      justify-content: center;
      z-index: 1;
    }

    .Titles {
      display: flex;
      flex-direction: column;
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      line-height: var(--line-height-lg);
      letter-spacing: 0px;

      @media (max-width: $bp-tablet-max) {
        display: none;
      }

      .Title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-lg);
        vertical-align: middle;
      }
      .SubTitle {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-sm);
      }
    }
    .Buttons {
      display: flex;
      align-items: center;
      gap: 15px;

      @media (max-width: $bp-mobile-max) {
        flex-direction: row;
        gap: 11px;
        width: 100%;        

        button {
          width: 100%;
        }

        .BackButton {
          position: relative;
          max-width: 95px;
          padding-left: 40px;
          > svg {
            position: absolute;
            left: 16px;
          }
        }

        .DownloadButton {
          flex-grow: 1;
          white-space: nowrap;
        }
      }

      @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
        .DownloadButton {
          padding-left: 47px;
          padding-right: 47px;
        }        
      }

      .ShareButton,
      .ShareButtonForTablet,
      .BookmarkButton {
        border: 1px solid var(--color-neutral-dark-300);
        box-shadow: 0px 4px 16px 0px #00000014;
        border-radius: 90px;
        padding: 8px;
        max-height: 32px;

        @media (max-width: $bp-tablet-max) {
          display: none;
        }

        svg {
          width: 16px;
          height: 16px;
        }
      }

      .ShareButtonForTablet {
        display: none;
        @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
          display: inline-block;
        }
      }
    }
  }

  .TabsHeader {
    display: none;
    background-color: var(--color-neutral-light);
    box-shadow: 0px 4px 16px 0px #00000014;
    padding: 13px 0 6px 23px;
    
    @media (max-width: $bp-mobile-max) {
      display: block;
    }

    button {
      padding: 0 0 calc(4px + 3px) 0;
      background-color: transparent;      
      border-radius: 0;

      font-family: 'Inter', Arial, Helvetica, sans-serif;
      font-weight: var(--font-weight-regular);
      font-size: var(--font-size-xs);
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;

      &.SelectedTabButton {
        border-bottom: 3px solid var(--color-brand-yellow-900);
        padding: 0 0 4px 0;
      }

      & + button {
        margin-left: 87px;
      }
    }
  }

  .Content {
    display: flex;
    height: 100%;
    background-color: white;

    @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
      flex-direction: column;
    }

    .Sidebar {
      box-shadow: 0px 4px 16px 0px #00000014;
      
      @media (max-width: $bp-mobile-max) {
        flex-grow: 1;
        padding-bottom: 15px;
      }

      @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
        box-shadow: 0px 2px 12px 2px #5555553D;
        z-index: 1;
      }      
    }

    .Data {
      flex-grow: 1;
      background-color: var(--color-neutral-light);
      width: 100%;
      overflow-x: hidden;

      @media (max-width: $bp-mobile-max) {
        background-color: white;
      }
    }

    @media (max-width: $bp-mobile-max) {
      .HideInMobile {
        display: none;
      }
    }
  }
}
