@import 'styles/variables/breakpoints';

.DownloadSummary {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px 15px 35px;
    border-bottom: 1px solid var(--color-neutral-dark-100);

    .Titles {
      display: flex;
      flex-direction: column;
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      line-height: var(--line-height-lg);
      letter-spacing: 0px;

      .Title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-lg);
        vertical-align: middle;
      }
      .SubTitle {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-sm);
      }
    }
  }

  .Content {
    display: flex;
    height: 100%;
    background-color: white;

    .Sidebar {
      box-shadow: 0px 4px 16px 0px #00000014;
    }

    .Main {
      flex-grow: 1;
      background-color: var(--color-neutral-light);
      width: 100%;
      overflow-x: hidden;
      position: relative;
      padding: 0 20px 0 20px;
      padding-bottom: 80px;

      &Content {
        background-color: var(--color-neutral-white);
        max-width: 929px;
        margin: 20px auto;
        border: 1px solid var(--color-neutral-dark-100);
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        padding: 64px 34px 64px 34px;

        &Header {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 8px;
          font-weight: var(--font-weight-bold);
        }

        .TableContainer {
          box-shadow: 0px 2px 12px 2px #5555553d;
          border-radius: 8px;
          overflow: hidden;
          width: 100%;

          :global(.p-datatable) {
            width: 100%;

            tr:global(.p-datatable-emptymessage) td {
              text-align: center;
            }

            th {
              background-color: var(--color-neutral-dark-100);
              font-weight: var(--font-weight-bold);

              &:last-of-type :global(.p-column-header-content) {
                justify-content: flex-end;
              }

              &:nth-of-type(3) {
                width: 100%;
              }
            }

            th,
            td {
              padding: 12px 16px;
              font-family: 'Inter', Arial, Helvetica, sans-serif;
              font-size: var(--font-size-xs);
              color: black;

              &:first-of-type {
                padding-right: 0;
              }

              &:nth-of-type(2) {
                padding-left: 10px;
                min-width: 150px;
              }

              &:last-of-type {
                min-width: 191px;
                text-align: right;
              }
            }

            td {
              border-bottom-width: 1px;
              border-style: dashed;

              &:nth-of-type(2) {
                font-weight: var(--font-weight-bold);
              }

              &:nth-of-type(3) {
                color: var(--color-brand-green-1000);
              }

              &:nth-of-type(3),
              &:last-of-type {
                font-weight: var(--font-weight-regular);
                font-size: var(--font-size-sm);
              }
            }

            tr {
              &:global(.p-highlight) {
                background: none;
              }
            }
          }
        }

        .FormatPicker {
          background-color: var(--color-neutral-light);
          border: 1px solid var(--color-neutral-dark-300);
          padding: 20px 24px;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 30px;

          &Header {
            display: flex;
            gap: 8px;
            font-weight: var(--font-weight-bold);
          }

          &Content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
          }

          &Dropdown {
            min-width: 248px;
          }

          &UpdatedMessage {
            background-color: var(--color-bg-primary);
            border-radius: 4px;
            padding: 8px 12px;
            color: var(--color-cta-default-solid);
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 4px;
            max-width: 229px;
          }
        }
      }

      .Footer {
        padding: 12px 24px;
        background-color: var(--color-neutral-white);
        box-shadow: 0px 4px 16px 0px #00000014;
        position: fixed;
        bottom: 0;
        left: 255px;
        transition: left 0.5s ease-out;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 12px;
        z-index: 3;

        &.Expanded {
          left: 448px;
        }

        .TermsOfUse {
          font-size: var(--font-size-md);
          label {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
