@import 'styles/variables/breakpoints';

.DownloadSummary {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  .Header {
    display: flex;
    justify-content: space-between;
    padding: 15px 32px 15px 35px;
    border-bottom: 1px solid var(--color-neutral-dark-100);

    .Titles {
      display: flex;
      flex-direction: column;
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      line-height: var(--line-height-lg);
      letter-spacing: 0px;

      .Title {
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-lg);
        vertical-align: middle;
      }
      .SubTitle {
        font-weight: var(--font-weight-regular);
        font-size: var(--font-size-sm);
      }
    }
  }

  .Content {
    display: flex;
    height: 100%;
    background-color: white;

    .Sidebar {
      box-shadow: 0px 4px 16px 0px #00000014;
    }

    .Main {
      flex-grow: 1;
      background-color: var(--color-neutral-light);
      width: 100%;
      overflow-x: hidden;
      position: relative;

      .MainContent {
        background-color: var(--color-neutral-white);
        width: 929px;
        height: 739px;
        margin: 20px auto;
      }

      .Footer {
        padding: 12px 24px;
        background-color: var(--color-neutral-white);
        box-shadow: 0px 4px 16px 0px #00000014;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
        gap: 12px;        
        .TermsOfUse {
          font-size: var(--font-size-md);
          label {
            margin-left: 8px;
          }
        }
      }
    }
  }
}
