.Homepage {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    .Content {
        display: flex;
        height: calc(100% - 54px);

        @media (min-width: 1024px) {
            height: 100%;
        }
    }
    .DatasetsButton {
        position: absolute;
        top: 0.875rem;
        right: 2rem;
        background-color: var(--color-brand-light-green-600);
        border: 1px solid var(--color-neutral-dark-100);
        border-radius: 1.25rem;
        font-size: var(--font-size-sm);
        padding: .625rem 1rem;
    }
}
