@import 'styles/variables/breakpoints';

.MenuWrapper {
    display: flex;
    align-items: center;
}

.HeaderWrapper {
  position: relative;

  .Banner {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    z-index: 4;
    
    @media (max-width: $bp-desktop) {
      top: 50px;
    }
  }
}

.Content {
  flex-grow: 1;
}