.StatusCell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.Tag {
  width: 6.375rem;
  justify-content: center;

  &.ONGOING {
    background-color: var(--color-brand-yellow-bg);
    border-color: var(--color-accent-warning-1000);
    color: var(--color-accent-warning-1500);
  }
  &.LOADED {
    background-color: var(--color-accent-warning-400);
    border-color: var(--color-accent-warning-1700);
    color: var(--color-accent-warning-1700);
  }
  &.PUBLISHED {
    background-color: var(--color-brand-light-green-100);
    border-color: var(--color-brand-light-green-1000);
    color: var(--color-accent-success-1000);
  }
}

.ErrorLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-accent-danger-1000);
  font-size: var(--font-size-sm);
  text-decoration: underline;

  &:hover {
    color: var(--color-accent-danger-600);
  }
}

.ErrorLinkIcon {
  // width: 0.875rem;
  // height: 0.875rem;
  flex-shrink: 0;
}

.ErrorLinkText {
  padding-top: 2px;
}
