.Wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1.25rem;
}
.Section {
    display: flex;
    flex-direction: column;
    gap: .75rem;
    padding: 1.25rem;
}
.FlexRow {
    display: flex;
    align-items: center;
    gap: .75rem;
}