.FilteringSidebarParameters {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SoilProperties {
  padding: 0.5rem 0.875rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

.SearchInput {
  width: 100%;
  padding: 0.5rem 0.75rem 0.5rem 2.5rem;
  border: 2px solid var(--color-neutral-dark-100);
  border-radius: 0.5rem;
  background-color: var(--color-neutral-light);
  background-image: url('../../../assets/icons/small-search-icon.svg');
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  background-size: 1rem 1rem;
  font-size: var(--font-size-sm);

  &::placeholder {
    color: var(--color-neutral-dark-200);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: 1px;
  }
}