.DatasetsPreviewStep {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1.5rem 1.5rem 2.5rem;
  gap: 1.125rem;
  position: relative;
}

.TextContent {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Message {
  font-size: var(--font-size-md);
}

.FileSelection {
  background-color: var(--color-neutral-light);
  padding: 0.5rem 1rem;

  .FilesFilter {
    min-width: 15.75rem;
    margin-bottom: 1.125rem;
  }
}

.DeleteWarning {
  font-size: var(--font-size-sm);
}

.TableFilters {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .Left,
  .Right {
    display: flex;
    gap: 1.125rem;
  }

  .ColumnsFilter {
    max-width: 300px;
  }
}

.TableWrapper {
  :global(.p-datatable-wrapper) {
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.StickyScrollbar {
  position: sticky;
  bottom: 72px;
  overflow-x: auto;
  overflow-y: hidden;
  height: 16px;
  background-color: transparent;
  z-index: 1;
}

.TableColumn {
  max-width: 174px;
  vertical-align: top;
}
.ColumnName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.DeleteCell {
  display: flex;
  justify-content: flex-end;
}

.Actions {
  position: sticky;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  background-color: var(--color-neutral-white);
  box-shadow: 0 -0.15rem 0.625rem var(--color-shadow-interface);
}

.ActionsSpacer {
  flex: 1;
}
