.ColorsTab {
  display: flex;
  gap: 1.5rem;
  width: 100%;

  > .Section {
    background: var(--color-neutral-white);
    padding: 1.5rem 1.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow-interface-large);

    > .Title {
      font-size: var(--font-size-lg);
      margin: 0 0 0.125rem;
    }

    > .Message {
      margin-bottom: 1.125rem;
    }

    > .DefaultColorButtons {
      margin-bottom: 1.25rem;
      display: flex;
      gap: 1.125rem;

      > .Button {
        background-color: var(--color-brand-light-green-600);
        border-color: var(--color-brand-light-green-600);
        color: var(--color-brand-green-1000);

        &:disabled {
          background-color: var(--color-brand-light-green-100);
          color: var(--color-brand-green-600);
        }
      }
    }
  }

  > .Main {
    flex: 1;
  }

  > .Aside {
    min-width: 339px;
    max-width: 339px;
  }
}
