@import 'styles/variables/breakpoints';

.DatasetsList {
  padding: 0.625rem 1rem;
  overflow-y: auto;

  @media (min-width: $bp-desktop) {
    padding: 0.75rem 0.625rem;
  }

  > .SelectAllWrapper {
    padding: 0.875rem 0.75rem;
  }
  > .Wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: $bp-tablet) and (max-width: $bp-tablet-max) {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
    }

    @media (min-width: $bp-desktop) {
      padding-right: 0.75rem;
    }
  }
}
