.Accordion {
  > .Content {
    display: none;
  }

  &.Opened {
    padding-bottom: 0;
    > .Header {
      padding-bottom: 0.5625rem;

      .ArrowIcon {
        transform: rotate(-180deg);
      }
    }

    > .PillsContainer {
      padding: 0 0.875rem 0.5rem;
    }

    > .Content {
      display: block;
    }

    &.Primary {
      > .Header {
        border-bottom: 1px solid var(--color-neutral-dark-100);
      }
    }

    &.Secondary {
      padding-bottom: 0.5rem;

      &:last-of-type {
        padding-bottom: 0;
      }

      > .Header {
        > .Title {
          padding-bottom: 0;
        }
      }
    }

    &.Tertiary {
      &:last-of-type {
        padding-bottom: 0;
      }

      > .Header {
        padding-bottom: 0.4687rem;
        > .Title {
          padding-bottom: 0;

          > .ArrowIcon {
            transform: rotate(-180deg);
          }
        }
      }
    }
  }

  > .Header {
    padding: 0 0.875rem;
    cursor: pointer;

    .Title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.375rem;
      font-size: var(--font-size-sm);
    }
  }

  &.Primary {
    background-color: var(--color-neutral-light);
    border-radius: 0.5rem;
    padding: 0.5625rem 0;
    border: 1px solid var(--color-neutral-dark-300);

    > .Header {
      font-weight: var(--font-weight-bold);
      text-transform: uppercase;
    }
  }

  &.Secondary {
    border-bottom: 1px dashed var(--color-neutral-dark-100);
    > .Header {
      > .Title {
        padding: 0.5625rem 0;
      }
      .ArrowIcon {
        color: var(--color-primary);
      }
    }

    &:last-of-type {
      border-bottom: none;
      > .Header {
        > .Title {
          padding-bottom: 0;
        }
      }

      &:has(.PillsContainer):not(.Opened) {
        > .Header {
          > .Title {
            padding-bottom: 0.5625rem;
          }
        }
      }
    }
  }

  &.Tertiary {
    background-color: var(--color-neutral-dark-300);
    border-radius: 0.25rem;

    > .Header {
      padding: 0.5rem 0.75rem;
      > .Title {
        justify-content: flex-start;

        .ArrowIcon,
        .Icon {
          color: var(--color-neutral-dark-600);
        }

        .ArrowIcon {
          transform: rotate(-90deg);
        }
      }
    }
  }
}

.PillsContainer {
  padding: 0 0.875rem 0.5rem;
}
