.DatasetsMappingsStep {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 24px;
}

.TablePlaceholder {
  position: relative;
  flex: 1;
  min-height: 240px;
  border: 1px solid var(--color-neutral-dark-100);
  border-radius: 8px;
  background-color: var(--color-neutral-white);
}
