.CheckBox {
    display: flex;
    align-items: flex-start;

    &:hover {
        cursor: pointer;

        > * {
            cursor: pointer;
        }

        > .Input {
            box-shadow: var(--shadow-hover-default);
        }
    }

    &.Medium > .Input {
        width: 1.5rem;
        height: 1.5rem;
    }

    &.Small > .Input {
        width: 1.25rem;
        height: 1.25rem;
    }

    &.Checked > .Input {
        background-image: url('../../../assets/icons/check-icon.svg');
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: 80%;
    }

    &.Disabled {
        pointer-events: none;

        > .Label {
            color: var(--color-neutral-dark-400);
        }
    }

    &:not(.Error) {
        &.Disabled {
            > .Input {
                border-color: var(--color-cta-default-disabled);
            }

            &.Checked > .Input {
                background-color: var(--color-cta-default-disabled);
            }
        }

        &:not(.Disabled) {
            > .Input {
                border-color: var(--color-cta-default-solid);
            }

            &.Checked {
                > .Input {
                    background-color: var(--color-cta-default-solid);
                }

                &:active > .Input {
                    background-color: var(--color-cta-default-pressed);
                }
            }

            &:active > .Input {
                border-color: var(--color-cta-default-pressed);
            }
        }
    }

    &.Error {
        &.Disabled {
            > .Input {
                border-color: var(--color-cta-danger-disabled);
            }

            &.Checked > .Input {
                background-color: var(--color-cta-danger-disabled);
            }
        }

        &:not(.Disabled) {
            > .Input {
                border-color: var(--color-cta-danger-solid);
            }

            &.Checked {
                > .Input {
                    background-color: var(--color-cta-danger-solid);
                }

                &:active > .Input {
                    background-color: var(--color-cta-danger-pressed);
                }
            }

            &:active > .Input {
                border-color: var(--color-cta-danger-pressed);
            }
        }
    }

    > .Input {
        appearance: none;
        border-width: 0.125rem;
        border-style: solid;
        border-radius: 0.25rem;
        margin: 0.05rem 0.625rem 0 0;
        flex-grow: 0;
        flex-shrink: 0;
    }

    &.Marginless > .Input {
        margin-right: 0;
    }
}
